doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title
			|	Fitness Center
		// smoosh
		link(rel="stylesheet", type="text/css", href="css/estilos.css")
		// endsmoosh
	body
		include ./components/Header/template.jade
		section.MainContent
			include ./components/Slider/template.jade
			include ./components/News/template.jade
		include ./components/Footer/template.jade
		// smoosh
		script(type="text/javascript", src="js/app.js")
		// endsmoosh