/*FOOTER*/

.Footer
	background-color $light_gray2
	text-align center
	position fixed
	bottom 0
	left 0
	right 0
	width 100%
	
	&-description
		color $light_black
		font-size .9rem
		
	&-copy
		color $light_gray3
		font-size .9rem