@import "nib"
@import "normalize.styl"
/*Fuentes*/
@import "fonts.styl"

$white = #fff
$black = #000
$light_black = #424242
$light_gray1 = #EFEFEF
$light_gray2 = #E2E2E2
$light_gray3 = #AFAFAF
$turquesa = #00B6C4
$lima = #97C100


html
	font-size 16px
	font-family 'roboto_condensedregular', sans-serif

body
	background $light_gray1
	
/*Estilos HEADER*/
@import "../components/Header/estilos.styl"

/*Estilos MAINMENU*/
@import "../components/MainMenu/estilos.styl"

/*Estilos MAINCONTENT*/
@import "../components/MainContent/estilos.styl"

/*Estilos NEWS*/
@import "../components/News/estilos.styl"

/*Estilos FOOTER*/
@import "../components/Footer/estilos.styl"